body{
    margin:0;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#ff758c,#ff7eb3);
    font-family:Arial, Helvetica, sans-serif;
    color:white;
    text-align:center;
}

.container{
    background:rgba(255,255,255,0.15);
    padding:40px;
    border-radius:20px;
    backdrop-filter:blur(10px);
}

button{
    margin-top:20px;
    padding:12px 25px;
    font-size:18px;
    border:none;
    border-radius:30px;
    background:white;
    color:#ff4f81;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    transform:scale(1.1);
}